.button {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.primary {
    background-color: #5E8E3E;
    color: white;
}