.checkbox-list {
    position: relative;
    min-width: 9rem;
    max-height: 15rem;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #464646;
    gap: 0.5rem;
}

.checkbox-options {
    display: flex;
    align-items: center;
}

.checkbox-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    cursor: pointer;
}

.checkbox-container input {
    display: none;
}

.checkbox {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    background-color: #E7E7E7;
    border-radius: 5px;
}

.checkbox-container input:checked ~ .checkbox {
    background-color: #5E8E3E;
}

.checkbox-container input:disabled ~ .checkbox {
    background-color: #A5B49C;
}