.selection-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #BCD096;
}

.selection-page-background {
    position: absolute;
    height: 100%;
    width: 100%;
}

.selection-page-rod {
    height: 2.5rem;
    width: 100%;
    background: #767D71;
    background: linear-gradient(180deg,rgba(118, 125, 113, 1) 0%, rgba(165, 180, 156, 1) 47%, rgba(118, 125, 113, 1) 85%);
    margin-top: 4rem;
}

.selection-page-hanger {
    height: 45rem;
    width: 45rem;
    margin-top: -8.03rem;
    margin-left: -7.5rem;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out, opacity 0.8s ease-out;
    opacity: 1;
}

.selection-page-hanger.slide-in {
    height: 45rem;
    width: 45rem;
    margin-top: -8.03rem;
    margin-left: -7.5rem;
    transform: translateX(0);
    opacity: 1;
}

.selection-page-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 2rem;
}

.selection-page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 9rem;
    margin-left: 30rem;
}

.selection-page-title h2 {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}

.selection-page-title h1 {
    font-family: "Oooh Baby", cursive;
    font-size: 120px;
    margin: 0;
}

.selection-page-title p {
    font-size: 24px;
    color: #5E8E3E;
    margin: 0;
}

.selection-page-options {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0rem 1rem 8rem;
    gap: 5rem;
}

.selection-page-options p {
    font-size: 28px;
    font-weight: 600;
    color: #464646;
    margin: 0;
}

.selection-page-options-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.selection-page-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}